language: cpp

## Enable cache for dependencies and directories
cache: ccache

## Enable sudo (set explicitly although environment's with docker is sudo
#  enabled by default
sudo: required

## Operating Systems to use for builds
os:
  - linux

## Ensures the virtualization environment runs as Ubuntu 14.04 Trusty
dist: trusty
group: edge

## Services started on the build environment
services:
 - docker

## Environment variables
#
#  The 'global' section defines variables which are added to every row in the
#  build matrix, i.e. every build configuration.
#  In turn, variables defined in the 'matrix' section each triggers a separate
#  build.
env:
  global:
    - COMPILER_VERSION=
    - DEPLOY_PACKAGE=false
    - DIST_NAME=ubuntu
    - DIST_VERSION=xenial
    - DOCKER_COMPOSE_VERSION=1.16.1
    - DRIZZLE_TEST_EXIT_ERROR_ON_SKIP=0
    - MAKE_TARGET=check
    - MYSQL_PASSWORD=''
    - MYSQL_PORT=3306
    - MYSQL_SERVER=127.0.0.1
    - MYSQL_USER=root
    - PATH="$(git config -f .gitmodules submodule.beaver.path)/bin:$PATH"
    - SKIP_TEST_ON_ERROR=0
  matrix:
    - COMPILER_VERSION=4.9 MAKE_TARGET="$MAKE_TARGET:deb" DEPLOY_PACKAGE=true
    - CXX=clang++ CC=clang COMPILER_VERSION=3.9
    - DIST_NAME=centos DIST_VERSION=7 MAKE_TARGET=rpm

## Build matrix
#
#  Travis expands the environment variables into 6ยน jobs:
#  All linux based builds are run in docker containers using docker-compose
#
#  | os     | compiler    | make targets        |
#  |--------|-------------|---------------------|
#  | linux  | clang       | check               |
#  | linux  | gcc         | check deb           |
#  | linux  | gcc         | rpm                 |
#  | osx    | clang 6.1.0 |                     |
#  | osx    | clang 7.3.0 |                     |
#  | osx    | clang 8.1.0 |                     |
#
#  For osx, the compiler reported is the Apple LLVM version
#
#  ยน Due to excessive build times for osx only XCode 7.3.1 has been enabled.
matrix:
  fast_finish: true
  include:
    # - os: osx
    #   osx_image: xcode6.4
    #   compiler: clang
    - os: osx
      osx_image: xcode7.3.1
      compiler: clang
    # - os: osx
    #   osx_image: xcode8.3
    #   compiler: clang

## Install dependencies
before_install:
  - ./travis_configure.sh before_install

## Prepare build system for tests
before_script:
  - ./travis_configure.sh before_script

## Run tests, and packaging scripts
script:
  - ./travis_configure.sh run_tests

## Deploy debian packages to bintray
##
## deb package built on ubuntu xenial with gcc
deploy:
    provider: script
    script: beaver bintray upload -D $DIST_VERSION -N build/pkg/deb/*.deb
    skip_cleanup: true
    on:
        tags: true # must be a git tag
        repo: sociomantic-tsunami/libdrizzle-redux # must be upstream
        condition: $TRAVIS_OS_NAME = 'linux' && $DIST_NAME = 'ubuntu' && $DIST_VERSION = 'xenial' && $CC = 'gcc' && $MAKE_TARGET =~ 'deb' && $DEPLOY_PACKAGE = 'true'
