language: cpp

sudo: required

os:
  - linux

compiler:
  - gcc
  - clang

dist: trusty

services:
 - mysql-5.6
## The following environment variables are required for
#  running unittests
#  Environment variables can be defined in the repository, but
#  are overridden by values in .travis.yml.
#
#  Please refer to the section 'script' for info on
#  SKIP_TEST_ON_ERROR
env:
  - MYSQL_SERVER=127.0.0.1 \
    MYSQL_PASSWORD='' \
    MYSQL_USER=root \
    SKIP_TEST_ON_ERROR=0

## Defines packages to be installed by apt
#  Version is specified since some tests require MySQL >=5.6
#addons:
#  apt:
#    packages:
#    - mysql-client-core-5.6
#    - mysql-server-core-5.6
#    - mysql-client-5.6
#    - mysql-server-5.6


before_install:
  - gem install fpm
#  - sudo tail -n 40 /var/log/upstart/mysql.log
#  - sudo tail -n 40 /var/log/mysql/error.log

## This script runs before the compiling
#  1. Stop MySQL server
#  2. Enable replication in mysql config file
#  3. Start MySQL server
#  4. Print mysql config for debug purposes
before_script:
  - service --status-all
  - dpkg -l mysql*
#  - sudo service mysql stop
#  - sudo sed  -i 's/\[mysqld\]/[mysqld]\nserver-id = 1\nlog-bin = mysqlbin\nbinlog-format = ROW\n/g' /etc/mysql/my.cnf
#  - sudo service mysql restart
  - mysqld --print-defaults

## Build steps
#  - compile project
#  - run all tests with 'make check'
#
#  Please note that test fails on first error as default
#  To skip errors and fail silently set environment variable:
#    SKIP_TEST_ON_ERROR=1
script:
  - autoreconf -fi
  - ./configure
  - make
  - make check
  - make deb

