language: cpp

sudo: required

os:
  - linux

compiler:
  - gcc
  - clang

dist: trusty

services:
 - mysql

## The following environment variables are required for
#  running unittests
#  Environment variables can be defined in the repository, but
#  are overridden by values in .travis.yml.
#
#  Please refer to the section 'script' for info on
#  SKIP_TEST_ON_ERROR
env:
  global:
    - MYSQL_SERVER=127.0.0.1
    - MYSQL_PASSWORD=''
    - MYSQL_USER=root
    - SKIP_TEST_ON_ERROR=0
    - PATH="$(git config -f .gitmodules submodule.beaver.path)/bin:$PATH"


## Defines packages to be installed by apt
#  2016/12/01 - mysql-5.6 was added to the default stack
#  for sudo enabled trusty builds,
#  The section is kept for reference since any additional packages
#  would still need to go into this section
#addons:
#  apt:
#    packages:

before_install:
  - gem install fpm -v 1.8.1
  - if [[ -n "$TRAVIS_TAG" ]]; then
        curl -XGET -L -k 'https://api.bintray.com/content/jfrog/jfrog-cli-go/$latest/jfrog-cli-linux-amd64/jfrog?bt_package=jfrog-cli-linux-amd64' > /tmp/jfrog ;
        chmod a+x /tmp/jfrog ;
        sudo cp /tmp/jfrog /usr/local/bin/jfrog ;
      fi
  - mysql -u root -e "SET PASSWORD FOR 'root'@'localhost' = PASSWORD('')"

## This script runs before the compiling
#  1. Stop MySQL server
#  2. Enable replication in mysql config file
#  3. Start MySQL server
#  4. Print mysql config for debug purposes
before_script:
  - sudo sed  -i 's/\[mysqld\]/[mysqld]\nserver-id = 1\nlog-bin = mysqlbin\nbinlog-format = ROW\n/g' /etc/mysql/my.cnf
  - sudo service mysql restart
  - mysqld --print-defaults

## Build steps
#  - compile project
#  - run all tests with 'make check'
#
#  Please note that test fails on first error as default
#  To skip errors and fail silently set environment variable:
#    SKIP_TEST_ON_ERROR=1
script:
  - autoreconf -fi
  - ./configure
  - make
  - make check
  - make deb

# Deploy debian packages to bintray when building for a git tag
deploy:
    provider: script
    script: beaver bintray upload -N deb/*.deb
    skip_cleanup: true
    on:
        tags: true
        condition: $TRAVIS_OS_NAME = 'linux' && $CC = 'gcc'
